*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(71, 94, 188);
}

.main{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#box{
    width:40%;
    box-shadow:0px 0px 5px grey;
    background-color:white;
    border-radius:5px;
    padding:15px;
}

.row{
    width:100%;
    margin:1rem 0;
}

.btn{
    width:100%;
    padding:10px;
    background-color:#3498db;
    font-size:20px;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
